.input{
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.loginContainer {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-right: 20px;
}

.logo {
  width: 80px;
  margin-bottom: 20px;
}

.form label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.form input[type="text"],
.form input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;

}

.link {
  display: block;
  font-size: 12px;
  color: #2271b1;
  text-decoration: none;
  margin-top: 10px;
}

.link {
  margin-top: 5px;
}

.Button2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8b0000;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s;
}

.Button2:hover {
  background-color: #a52a2a;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleButton {
  margin-left: 8px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputContainer {
  display: flex;
  align-items: center;
}