
/*navbar*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  font-family: "Century Gothic";
  position: relative;
}

.links {
  display: flex;
  list-style: none;
  gap: 20px;
  position: relative;
}

.links > li {
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.links a:hover {
  color: gray;
}

/* Estilos dos ícones sociais */
.icons a {
  color: black;
  margin-left: 15px;
}

/* Estilo do Rodapé */
.footer {
  background-color: #111;
  /* Fundo preto */
  color: #fff;
  /* Texto branco */
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer a {
  color: #ccc;
  /* Cor de links */
  text-decoration: none;
  margin: 0 15px;
}

.footer a:hover {
  color: #fff;
  /* Efeito de hover para links */
}

.footer .address,
footer .phone {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

footer .nav-links {
  margin: 15px 0;
}

footer .nav-links a {
  margin: 0 10px;
  font-size: 14px;
  color: #ccc;
}

footer .nav-links a:hover {
  color: #fff;
}

footer .social-icons {
  margin-top: 15px;
}

footer .social-icons a {
  margin: 0 10px;
  font-size: 20px;
  color: #ccc;
}

footer .social-icons a:hover {
  color: #fff;
}

footer .credits {
  margin-top: 15px;
  font-size: 12px;
  color: #888;
}

footer .award {
  display: inline-block;
  margin-top: 15px;
}


.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos do Card */
.card {
  display: flex;
  background-color: #fff;
  color: #111;
  overflow: hidden;
  transition: transform 0.3s;
  width: 1000px;
  width: 100%;
}

.card2 {
  display: flex;
  background-color: #fff;
  color: #111;
  overflow: hidden;
  width: 100%;
  flex-direction: row-reverse;
}


/* Imagem do Card */
.cardImage {
  width: 50%;
  object-fit: cover;
  max-height: 500px;

}

/* Conteúdo do Card */
.cardContent {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 200px;

}

.cardContent2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 200px;
}

.orderContainer {
  text-align: center;
  max-width: 500px;
  padding: 20px;
}
.orderContainer h1{
  font-size: 2.5em;
  margin: 0;
  color: #333;
  font-weight: 700;
}
.orderContainer h2{
  font-size: 1.5em;
    color: #a52a2a;
    font-weight: 400;
    margin-top: 5px;
}
.orderContainer hr {
  border: none;
  border-top: 1px solid #a52a2a;
  margin: 20px 0;
}

.takeout, .delivery {
  margin-bottom: 20px;
}

.takeout h3, .delivery h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: #5c1a1a;
}

.takeout p, .delivery p {
  font-size: 1em;
  margin: 10px 0;
}

/* Links de entrega */
.deliveryLinks a {
  color: #a52a2a;
  font-weight: 600;
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s;
}

.deliveryLinks a:hover {
  color: #5c1a1a;
}


.cardTitle {
  font-size: 24px;
  color: #111;
  margin-bottom: 10px;
}

.cardSubtitle {
  font-size: 16px;
  color: #e74c3c;
  margin-bottom: 10px;
}

.cardSeparator {
  width: 40px;
  height: 2px;
  background-color: #111;
  margin: 10px 0;
}

.cardHours {
  margin: 10px 0;
}

.cardHours p {
  font-size: 14px;
  margin: 5px 0;
}

.highlight {
  color: #e74c3c;
}

.cardContact {
  margin: 10px 0;
}

.cardContact p {
  font-size: 14px;
  margin: 5px 0;
}

.cardButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8b0000;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s;
  ALIGN-SELF: center;

}

.cardButton:hover {
  background-color: #a52a2a;
}

/* Responsividade */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .cardImage,
  .cardContent {
    width: 100%;
  }
}

.div1 {
  background-image: url('https://static.wixstatic.com/media/9fbf96_93aa359f46fe4c42b2c08c28fa40f9b5~mv2.jpg/v1/fill/w_980,h_755,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/9fbf96_93aa359f46fe4c42b2c08c28fa40f9b5~mv2.jpg');
  background-size: cover;
  background-position: center;
}

.mainBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.imageContainer img {
  width: 300px;
  max-width: 90%;
}

.tagline {
  font-size: 24px;
  color: #333;
  margin-top: 10px;
  font-weight: 300;
}

.mainBanner {
  text-align: center;
  padding: 20px;
}


.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 20px;
}

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItem img {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Button2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8b0000;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s;
}

.Button2:hover {
  background-color: #a52a2a;
}

.Buttonn {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-around
}

.header {
  position: relative;
  background-image: url('https://static.wixstatic.com/media/e1e470_b020aa08aac748389616e798e274004d~mv2_d_4000_2667_s_4_2.jpg/v1/fill/w_980,h_822,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e1e470_b020aa08aac748389616e798e274004d~mv2_d_4000_2667_s_4_2.jpg');
  background-size: cover;
  background-position: center;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.overlay h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.overlay h1 {
  font-size: 48px;
  font-weight: bold;
}

.submenu {
  list-style: none;
  margin: 0 0 0 10px;
  display: none;
  background-color: #ffffff1f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  padding: 20px;
  overflow: hidden;
  z-index: 10;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  pointer-events: none;
}

.links > li:hover .submenu {
  display: block;
  color: rgb(0, 0, 0);
  max-height: 500px;
  opacity: 1;
  pointer-events: all;
}

.submenu > li {
  margin-bottom: 5px;
  font-weight: normal;
}

.mapa{
  height: 150%;
  padding-bottom: 10px;
}
.reservar {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Century Gothic", sans-serif;
  
} 
.reservar2 {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.mesas {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
}

.mesas > button {
  padding: 10px 20px;
  background-color: #777575;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}

.mesas > button:hover {
  background-color: #8b0000;
}

.mesas > button:disabled {
  background-color: #8b0000; /* Indica que a mesa está reservada */
  cursor: not-allowed; /* Mostra que o botão está desativado */
}

.mesas > button.reservada {
  background-color: #8b0000;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border: #333 solid 1px;
  border-radius: 5px;
}

.formulario > input {
  margin: 10px;
  padding: 5px;
  font-size: 14px;
}

.formulario > button {
  padding: 10px 20px;
  background-color: #777575;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.formulario > button:hover {
  background-color: #8b0000;
}

.reservas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border: #333 solid 1px;
  border-radius: 5px;
  list-style: none
}

.button {
  padding: 10px 20px;
  background-color: #777575;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #8b0000;
}
